#view-game {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}

.board {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;

    .row {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    article {
        width: 120px;
        height: 200px;
        background-color: #333;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}