#page-shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    button {
        font-size: 1.5rem;
        padding: 1rem;
        border-radius: 1rem;
        background-color: var(--back);
        color: var(--txt);
        cursor: pointer;
    }
}
